CONFIG_MACH_CANE_EUR_3G=y
#CONFIG_WCNSS_CCX=y
CONFIG_MACH_WILCOX_EUR_LTE=y
CONFIG_DESKDOCK_DISABLE=y
CONFIG_TOUCHSCREEN_CYPRESS_TMA46X_SUPPORT_BUTTON=y
# CONFIG_FB_MSM_MIPI_HIMAX_TFT_VIDEO_WVGA_PT is not set
# CONFIG_FB_MSM_MIPI_HIMAX_TFT_VIDEO_WVGA_PT_PANEL is not set
# CONFIG_FB_MSM_MIPI_DSI_HIMAX_TFT is not set
# CONFIG_FB_MSM_LCDC_HW is not set
# CONFIG_SAMSUNG_JACK_EXT_LDO is not set
CONFIG_FB_MSM_MIPI_DSI_HX8389BDS15_TFT=y
CONFIG_FB_MSM_MIPI_HX8389B_TFT_VIDEO_QHD_PT=y
CONFIG_FB_MSM_MIPI_HX8389B_TFT_VIDEO_QHD_PT_PANEL=y
# CONFIG_BACKLIGHT_IC_KTD253 is not set
CONFIG_BACKLIGHT_IC_KTD3102=y
# CONFIG_VIBETONZ is not set
# CONFIG_MOTOR_DRV_TSP5000 is not set
CONFIG_MSM_VIBRATOR=y
# CONFIG_SENSORS_HALL is not set
# CONFIG_ULTRASONIC_SENSOR is not set
# CONFIG_SENSORS_ULTRASONIC_SENSORTEC is not set

CONFIG_HID_KK_UPGRADE=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC_NEW=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=n
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

