CONFIG_MACH_SERRANO_LRA=y
CONFIG_VZW_VOLUME=y
CONFIG_2MIC_QUP_I2C=y
CONFIG_2MIC_ES305=y
CONFIG_2MIC_QUP_I2C_GSBI11=y
CONFIG_DOCK_EN=y
#CONFIG_SEC_DISABLE_HARDRESET=y
#VMWARE RELATED
#CONFIG_VMWARE_MVP=y
#CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m
CONFIG_KEYBOARD_CYPRESS_TOUCH=y
#CONFIG_CHG_INCOMPATIBLE=y
#CONFIG_SEC_PERIPHERAL_SECURE_CHK=y

# Battery charging and BMS
# CONFIG_CHARGER_MAX77693=y is not set
# CONFIG_BATTERY_MSM is not set
# CONFIG_PM8921_BMS=y
# CONFIG_PM8921_SEC_CHARGER is not set
CONFIG_PM8921_CHARGER=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_CHARGER_MAX77XXX=y
CONFIG_CHARGER_MAX77803=y
CONFIG_FUELGAUGE_MAX17048=y
CONFIG_WIRELESS_CHARGER=y
CONFIG_CHG_INCOMPATIBLE=y

CONFIG_MFD_MAX77693=y
# CONFIG_MOTOR_DRV_MAX77693 is not set
CONFIG_REGULATOR_MAX77693=y

# MSM Vibrator
CONFIG_VIBETONZ=n
CONFIG_MSM_VIBRATOR=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC_NEW=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=n
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n
