CONFIG_MACH_GOLDEN_BMC=y
CONFIG_MACH_GOLDEN_ATT=y
CONFIG_ESD_ERR_FG_RECOVERY=y
# Battery charging and BMS
# CONFIG_BATTERY_MSM is not set
# CONFIG_PM8921_BMS is not set
# CONFIG_PM8921_SEC_CHARGER is not set
# CONFIG_WIRELESS_CHARGER is not set
CONFIG_PM8921_CHARGER=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_CHARGER_SMB358=y
CONFIG_FUELGAUGE_MAX17048=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_2MIC_QUP_I2C_GSBI11=y