CONFIG_MACH_LT02_TMO=y
CONFIG_MACH_LT02_CHN_CTC=y

#audio
CONFIG_WCD9304_USE_MI2S_CLK_9600=y
CONFIG_AUXPCM_INTERFACE=y
CONFIG_PCM_ROUTE_VOICE_STUB=y
CONFIG_SWITCH_DUAL_MODEM=y
# CONFIG_2MIC_ES305 is not set
# CONFIG_2MIC_QUP_I2C is not set
# CONFIG_2MIC_QUP_I2C_GSBI2 is not set
CONFIG_SAMSUNG_JACK=y
CONFIG_EXT_SPK_AMP=y
CONFIG_EXT_EARMIC_BIAS=y
# CONFIG_WCD9306_CODEC is not set
CONFIG_WCD9304_CODEC=y

#configs for modem interface
# CONFIG_SEC_MODEM=y
# CONFIG_GSM_MODEM_SPRD6500=y
# CONFIG_SEC_DUAL_MODEM_MODE=y
# CONFIG_LINK_DEVICE_SPI=y
# CONFIG_WORKQUEUE_FRONT=y

# CONFIG_SERIAL_MSM=y
# CONFIG_SERIAL_MSM_CONSOLE=y

CONFIG_FB_MSM_MIPI2LVDS_VX5B3D_TFT_VIDEO_WSVGA_PT_PANEL=y
CONFIG_SAMSUNG_CMC624=n

CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y

# touch
# CONFIG_TOUCHSCREEN_MXT224S is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI is not set
# CONFIG_TOUCHSCREEN_MXTS is not set
# CONFIG_TOUCHSCREEN_MXT224S_NEW is not set
# CONFIG_TOUCHSCREEN_LT02_BT532 is not set
CONFIG_TOUCHSCREEN_ZINITIX_BT532=y

#for compile error
# CONFIG_MOTOR_DRV_MAX77693 is not set
# CONFIG_INPUT_YAS_SENSORS is not set
# CONFIG_BCM2079X_NFC_I2C is not set
# CONFIG_MSM_ACTUATOR is not set
# CONFIG_INPUT_MPU6050 is not set
# CONFIG_INPUT_MPU6500 is not set
