CONFIG_MACH_LT02_TMO=y
#CONFIG_ADC_STMPE811=y
CONFIG_INSIDESECURE_VPNCLIENT=y
CONFIG_FB_MDP4_ENHANCE=y

# Battery charging and BMS
CONFIG_BATTERY_SAMSUNG=y
CONFIG_CHARGER_SMB358=y
CONFIG_FUELGAUGE_MAX17050=y
CONFIG_FUELGAUGE_MAX17050_COULOMB_COUNTING=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_DOCK_EN=y

#muic driver
CONFIG_USB_SWITCH_FSA9485=y

CONFIG_WCNSS_CCX=y

# CIQ Flag Added
CONFIG_UID_STAT=y
