CONFIG_MACH_MELIUS_KTT=y
CONFIG_TDMB=y
CONFIG_TDMB_VENDOR_FCI=y
CONFIG_TDMB_FC8050=y
CONFIG_TDMB_SPI=y
CONFIG_TDMB_ANT_DET=y
CONFIG_WCNSS_CCX=y
CONFIG_SEC_DEVIDE_RINGTONE_GAIN=y
CONFIG_MUIC_AUDIO_OUTPUT_CONTROL=y
