CONFIG_MACH_LT02_SPR=y
CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m
CONFIG_FB_MDP4_ENHANCE=y
CONFIG_MACH_LT02_SEA=y
CONFIG_MSM_VIBRATOR=y
# CONFIG_NO_GPIO_EXPANDER_FPGA is not set
# CONFIG_IR_REMOCON_FPGA is not set
# CONFIG_SEC_FPGA is not set
# CONFIG_SENSORS_AD7146 is not set
CONFIG_SENSORS_ASP01=y
