CONFIG_MACH_MELIUS_EUR_OPEN=y
#CONFIG_MACH_MELIUS_CHN_CTC is not set
CONFIG_MACH_CRATER_CHN_CTC=y
CONFIG_WCD9304_USE_MI2S_CLK_9600=y
# CONFIG_FM_RADIO is not set
# CONFIG_FM_SI4705 is not set
# CONFIG_RADIO_USE_MI2S is not set
# CONFIG_2MIC_ES305 is not set
# CONFIG_2MIC_QUP_I2C is not set

#configs for modem interface
CONFIG_SEC_MODEM=y
CONFIG_GSM_MODEM_SPRD6500=y
CONFIG_SEC_DUAL_MODEM_MODE=y
CONFIG_LINK_DEVICE_SPI=y
CONFIG_WORKQUEUE_FRONT=y

CONFIG_SERIAL_MSM=y
CONFIG_SERIAL_MSM_CONSOLE=y
#configs for wakeup alarm
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y
