#variant defconfig for MELIUS sprint
CONFIG_MACH_MELIUS_SPR=y
CONFIG_RADIO_IRIS=y
CONFIG_RADIO_IRIS_TRANSPORT=m
CONFIG_WCNSS_CCX=y
CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m
CONFIG_NOVATEK_VIDEO_HD_CLK_MIPICLK_480=y