CONFIG_MACH_SERRANO_ATT=y
CONFIG_2MIC_QUP_I2C=y
CONFIG_2MIC_ES305=y
CONFIG_2MIC_QUP_I2C_GSBI11=y
CONFIG_PM8921_CHARGER=y
CONFIG_WIRELESS_CHARGER=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_FUELGAUGE_MAX17048=y
CONFIG_CHARGER_MAX77XXX=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_KEYBOARD_CYPRESS_TOUCH=y
CONFIG_MFD_MAX77693=y
CONFIG_REGULATOR_MAX77693=y
