CONFIG_MACH_GOLDEN_ATT=y
CONFIG_2MIC_QUP_I2C_GSBI11=y
CONFIG_ESD_ERR_FG_RECOVERY=y
CONFIG_PM8921_CHARGER=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_CHARGER_SMB358=y
CONFIG_FUELGAUGE_MAX17048=y
CONFIG_SAMSUNG_LPM_MODE=y
