#variant defconfig
CONFIG_MACH_MELIUS_ATT=y
CONFIG_INSIDESECURE_VPNCLIENT=y
CONFIG_MSM_AVS_HW=n
CONFIG_WCNSS_CCX=y
CONFIG_WCNSS_MEM_PRE_ALLOC=y
CONFIG_MSM_L2_ERP_1BIT_PANIC=n
CONFIG_MUIC_AUDIO_OUTPUT_CONTROL=y