CONFIG_MACH_MELIUS_SKT=y
CONFIG_TDMB=y
CONFIG_TDMB_VENDOR_FCI=y
CONFIG_TDMB_FC8050=y
CONFIG_TDMB_SPI=y
CONFIG_TDMB_ANT_DET=y
# CONFIG_FM_RADIO is not set
# CONFIG_FM_SI4705 is not set
# CONFIG_RADIO_USE_MI2S is not set

#
#IWLAN CONFIG
#
CONFIG_XFRM=y
CONFIG_XFRM_USER=y
# already set CONFIG_NET_KEY=y
# already set CONFIG_INET_ESP=y
CONFIG_INET_IPCOMP=y
CONFIG_INET_XFRM_MODE_TRANSPORT=y
# already set CONFIG_INET_XFRM_MODE_TUNNEL=y
# already set CONFIG_IP_ADVANCED_ROUTER=y
# already set CONFIG_IP_MULTIPLE_TABLES=y
# already set CONFIG_CRYPTO=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_XCBC=y
CONFIG_CRYPTO_NULL=y
CONFIG_CRYPTO_MD5=y
# already set CONFIG_CRYPTO_SHA1=y
CONFIG_CRYPTO_DES=y
# already set CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_WCNSS_CCX=y

# disable qualcomm thermal monitor
# CONFIG_THERMAL_MONITOR is not set
CONFIG_SEC_DEBUG_LMK_MEMINFO=y
CONFIG_ANDROID_LOW_MEMORY_KILLER_BASED_MEMUSAGE=y

#TCP Congestion Control Change to BIC
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_DEFAULT_BIC=y
CONFIG_DEFAULT_TCP_CONG="bic"

# Compcache
CONFIG_SWAP=y
CONFIG_ZRAM=y
CONFIG_ZRAM_DEBUG=y
CONFIG_ZRAM_FOR_ANDROID=y
CONFIG_CGROUP_MEM_RES_CTLR=y
CONFIG_CGROUP_MEM_RES_CTLR_SWAP=y
CONFIG_CGROUP_MEM_RES_CTLR_SWAP_ENABLED=y
